html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title App
        style(type="text/css").
            body {
                margin: 0;
                color: black;
                font-family: "Trebuchet MS", Helvetica, sans-serif;
            }
            #mainDiv {
                width: 100%;
            }
    body.container-fluid
        div#mainDiv
        script(src="/js/main.js")
